.badge:hover{
    cursor:pointer;
}

.navbar {
    margin-bottom: 1.5rem;
}

#calendar-container {
    margin-bottom: 1.5rem;
    margin-left:auto;
    margin-right:auto;
}

#preview {
    margin: 1rem auto;
}

.page-footer {
    margin-top: 3rem;
    background-color: #f8f9fa;
    min-height: 5rem;
}

#panel span > label{
    font-size: 0.8rem;
    margin: 0 0.5rem;
}

#panel button {
    margin-top: 0.5rem;
}