<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Workout Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- datepicker includes -->
    <link href="/css/datepicker/datepicker.css" rel="stylesheet" type="text/css">
    <script src="/js/datepicker/datepicker.min.js"></script>
    <script src="/js/datepicker/i18n/datepicker.en.js"></script>

    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <nav class="navbar navbar-light bg-light">
        <span>
            <a class="navbar-brand" href="/">Main page</a>
        </span>
        <span>
            <a class="badge badge-pill badge-secondary" href="/signup">Create an account - logout tu</a>
        </span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="calendar-container">
                <div id="my-picker"></div>
            </div>

        </div>
        <div class="row">
            <div id="panel" class="col-md-6"></div>
            <div id="preview" class="col-md-6"></div>
        </div>
    </div>
    <div class="page-footer">

    </div>
</div>
<script src="/js/calendar.js"></script>
</body>
</html>