<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Workout Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <nav class="navbar navbar-light bg-light">
        <span>
                <a class="navbar-brand" href="/">Main page</a>
        </span>
        <span>
                <a class="badge badge-pill badge-secondary" href="/login">Login to your account</a>
        </span>
    </nav>
    <div>
        <h2>Fancy Web Workout Manager</h2>
        <a href="/login">Go to login page</a>
        <a href="/signup">Go to register page</a>
    </div>
</div>
</body>
</html>