<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Workout Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-light bg-light">
            <span>
                <a class="navbar-brand" href="/">Main page</a>
            </span>
            <span class="underline">
                <a class="navbar-link" href="#">Create an account</a>
            </span>
        </nav>
        <div>
            <h2>
                Web Workout Manager
            </h2>
            <p>
                Log in to access your profile and past achievements !
            </p>
            <div>
                <div>
                    <label>
                        <span>
                            Username
                        </span>
                    </label>
                    <div>
                        <input type="text">
                    </div>
                </div>
                <div>
                    <label>
                        <span>
                            Password
                        </span>
                    </label>
                    <div>
                        <input type="text">
                    </div>
                </div>
                <div>
                    <button>
                        Log in to your account
                    </button>
                </div>
                <div>
                    <button>
                        Log in with Facebook
                    </button>
                </div>
            </div>
            <p>
                Need an account?
                <a>
                    Create your Web Workout Manager account.
                </a>
            </p>
        </div>
    </div>

</body>
</html>