<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Workout Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    <script src="/js/login.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-light bg-light">
        <span>
            <a class="navbar-brand" href="/">Main page</a>
        </span>
        <span>
            <a class="btn btn-outline-secondary" href="/signup">Create an account</a>
        </span>
    </nav>
    <div class="container text-center">
        <h2 class="font-weight-bold">Web Workout Manager</h2>
        <p>Log in to access your profile and past achievements !</p>
        <a class="btn btn-social btn-facebook" href="http://localhost:9380/oauth2/authorize/facebook?redirect_uri=http://localhost:9380/oauth2/redirect">
            <span class="fa fa-facebook-f"></span> Log in with Facebook
        </a>
        <div>
            <div class="mt-2">
                <label>
                    <span>Email</span>
                </label>
                <div>
                    <input id="email" type="text">
                </div>
            </div>
            <div class="mt-2">
                <label>
                    <span>Password</span>
                </label>
                <div>
                    <input id="password" type="password">
                </div>
            </div>
            <div class="m-2">
                <button class="btn btn-secondary m-1" onclick="loginButton();">Log in</button>
            </div>
        </div>
        <p class="mt-2">
            Need an account?
            <a class="btn btn-outline-secondary" href="/signup">
                Create your account
            </a>
        </p>
    </div>
</div>
</body>
</html>