<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Workout Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=455560305185638&autoLogAppEvents=1"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '455560305185638',
                cookie: true,
                xfbml: true,
                version: 'v3.2'
            });

            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response){
            if(response.status === 'connected'){
                console.log('Logged in');
                window.location.assign(`http://localhost:9380/dashboard/${response.authResponse.userID}`);
            } else {
                console.log('Not authenticated');
            }
        }

        function login(){
            FB.login(function(response){
                window.location.assign(`http://localhost:9380/dashboard/${response.authResponse.userID}`);
            });
        }
    </script>
    <div>
        <nav class="navbar navbar-light bg-light">
            <span>
                <a class="navbar-brand" href="/">Main page</a>
            </span>
            <span>
                <a id="createAccount" class="badge badge-pill badge-secondary" href="#">Create an account</a>
            </span>
        </nav>
        <div class="container text-center">
            <h2 class="font-weight-bold">Web Workout Manager</h2>
            <p>Log in to access your profile and past achievements !</p>
            <div>
                <div>
                    <label>
                        <span>Username</span>
                    </label>
                    <div>
                        <input type="text">
                    </div>
                </div>
                <div>
                    <label>
                        <span>Password</span>
                    </label>
                    <div>
                        <input type="text">
                    </div>
                </div>
                <div class="my-2">
                    <button class="btn btn-secondary">Log in to your account</button>
                </div>
                <div class="my-2">
                    <div class="fb-login-button" data-size="medium" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true" data-onlogin="login()"></div>
                </div>
            </div>
            <p class="underline">
                Need an account?
                <a>
                    Create your Web Workout Manager account.
                </a>
            </p>
        </div>
    </div>
</body>
</html>